<ActionBar title="Sobre o App" class="action-bar"></ActionBar>

<scrollView>
    <stackLayout class="page m-10">
        <label [text]="iconInformation" class="fa text-center m-t-10"></label>
        <label text="Objeto de Aprendizagem" class="h2 text-center m-t-10"></label>
        <label textWrap="true" class="text-left m-10" text="        Esse aplicativo foi desenvolvido na disciplina de Paradigmas Educacionais com a finalidade de ser usado como um objeto de aprendizagem durante a aula. O professor de inglês será auxiliado por esse aplicativo, que tende a ajudar o aluno a fixar o tema que foi ensinado e mostrar dentro de uma interface mais intuitiva e interativa, o objeto de estudo e ajuda-lo a lembrar dos pontos importantes do assunto estudado.

        A ideia consiste em o professor no momento de preparar a aula para o aluno e indicar o uso do aplicativo na sala de aula como uma forma de acompanhamento que utiliza vídeo, exercícios e um breve resumo do tema a ser realizado pelo aluno. Ajudando o professor a tornar o aluno o centro da aula e o tornando um indivíduo autônomo.

        Esse aplicativo surgiu a partir de um diálogo com uma aluna da graduação de Letras-Inglês visando auxiliar o professor a preparar uma aula mais interativa diante do alunado colocando-o como centro da aprendizagem de forma autônoma.

        Projeto desenvolvido na Universidade Estadual da Paraíba (UEPB).

        Desenvolvedor: Thiago Vitor Porto Santiago."></label>
    </stackLayout>
</scrollView>